
<html>
    <head>
        <link rel="stylesheet" href="/static/library.css">
    </head>
        <title> {{ title }} - Library</title>
        <body>
            <h1 class="welcome">Welcome to the Infernal Library</h1>
            <ul>
                <li class="base"><a href="/library">Home</a></li>
                <li class="base"><a href="/library/add_new">Add New Book</a></li>
                <!-- <li><a href="/library/delete">Delete Book</a></li> -->
            </ul>
            <hr>
            {% block content %}

            {% endblock %}
        </body>
</html>