{% extends "base.html" %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Main</title>
</head>
<body>
    <h1>Our Books</h1>
    <div>
        {% for book in booklist %}
        <h3><a href="library/{{booklist.index(book)}}">{{ book.book_title }} | {{ book.author }}</a></h3>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}

