{% extends "base.html" %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Main</title>
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="https://i.pinimg.com/originals/14/1e/11/141e11072c84155e223c99980df1b674.jpg" alt="">
    <h1>Our Catalogue</h1>
    {% for book in booklist %}
       <div class="index"> 
        <h3><a href="library/{{booklist.index(book)}}">{{ book.book_title }} | {{ book.author }}</a></h3><form class="form" action= "/library/{{booklist.index(book)}}" method="POST"><input type="submit" value="Remove Book" id="index_position">
        </form>
        <br>
    </div>
    {% endfor %}
</body>
</html>

{% endblock %}

