{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bookshop.css">
    <title>Book Details</title>
</head>
<body>
    <br><br><br><br>
    <h2>Book Details</h2>
    <ul>
        <li class="specific">
            <p>Title: {{booklist.book_title}} | Author: {{booklist.author}} | Genre: {{booklist.genre}} | ISBN: {{booklist.isbn}}</p>
            <p>Summary: {{booklist.summary}}</p> 
            {% if booklist.status %}
                    <h4>Is this book currently available? &#10004;</h4>
                {% else %}
                    <h4>Is this book currently available? &#10006;</h4>
            {% endif %}
        </li>
    </ul>
</body>
</html>

{% endblock %}