{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bookshop.css">
    <title>Book Details</title>
</head>
<body>
    <h1>Book Details</h1>
    <ul>
        <li>
            <p>Title: {{booklist.book_title}} | Author: {{booklist.author}} | Genre: {{booklist.genre}} | ISBN: {{booklist.isbn}}</p>
            <p>Summary: {{booklist.summary}}</p>
        </li>
    </ul>
</body>
</html>

{% endblock %}